@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;600&display=swap');

body {
  font-family: 'Work Sans', sans-serif;
  background-color: #92c5f8;
  color: #333;
  text-align: center;
  margin: 0;
  padding: 0;
}

#quiz-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

h1 {
  font-weight: 600;
  font-size: 28px;
  color: #ffffff;
  background-color: #4f81bd;
  padding: 20px;
  border-radius: 8px 8px 0 0;
  margin-bottom: 20px;
}

#quiz {
  background-color: #f3f0f0;
  border-radius: 8px;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.1);
  padding: 30px;
  width: 100%;
  max-width: 700px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  height: 70vh;
}

.question {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 20px;
  color: #4f81bd;
}

.answers {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-bottom: 30px;
}

.answers label {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 10px;
  cursor: pointer;
  transition: color 0.3s ease;
}

button {
  font-size: 18px;
  font-weight: 600;
  background-color: #28a745;
  color: #ffffff;
  border: none;
  border-radius: 50px;
  padding: 15px 30px;
  cursor: pointer;
  position: absolute;
  bottom: 30px;
  left: 50%;
}

button:hover {
  background-color: #218838;
}

#results {
  font-size: 20px;
  font-weight: 500;
  margin-top: 20px;
  color: #333;
  position: absolute;
  bottom: 80px;
  left: 50%;
}

#results span {
  font-weight: 600;
  color: #28a745;
}

#timer {
  font-size: 20px;
  font-weight: 600;
  color: #333;
  background-color: #fff;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 20px;
  width: fit-content;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
